#root {
  margin: 0;
  padding: 0;
}

.text-timer {
  color: #ea9aa3;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  /* Adjusted for responsiveness */
  max-width: 300px;
  /* Added max-width to limit width on larger screens */
  height: 45px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 0.5px #2b2c37, 0 0 20px -17px #000;
  border: 0;
  border-radius: 5px;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #797a85;
}

.input:hover {
  box-shadow: 0 0 0 1.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:focus {
  box-shadow: 0 0 0 1.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #797a85;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

@media (max-width: 768px) {
  .input {
    max-width: 100%;
    /* Adjusted for smaller screens */
  }
}

/* bg color */
.bg-body {
  background-color: #f5f6f0;
}